body {
font-family: Arial, sans-serif;
  padding:20px;
  background-color: #f4f4f4;
}

h1 {
color: #333;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

nav a:hover{
 color: red;
  text-decoration: underline;
}

button{
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover{
  background-color: #45a049;
}

  p {
    color: #f745c8;
  }